.content-container {
    display: flex;
    flex-direction: column;
    padding: 0 196px;
    background: #F3FBFD;
}
.manage-account-block {
    height: 100%;
    .content-container {
        height: 100%;
    }
}