.bread-container {
    padding-top: 20px;
    color: gray;
    li {
        cursor: pointer;
    }
    li:last-child {
        color: #F4600C;
    }
    .ant-breadcrumb-separator {
        display: flex;
        align-items: center;
    }
}