.footer-page {
    color: #667085;
    border: 1px solid #F2F4F7;
    gap: 36%;
    padding: 20px 196px;
    display: flex;
    flex-direction: row;    
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    flex: 0;
    .right-footer {
        gap: 50px;
        display: flex;
    }
}